// webgets.css

.component 
{
    width: 10px;
    height: 10px;
    color: grey;
    border: 1px solid grey;
}

.castaway
{
}

.castaway-item
{
}

.castaway-title
{
}

.castaway-link
{
}

.castaway-category
{
}

.castaway-description
{
}