/* 

	webgets.css -- stylesheet for webgets HTML Documents 

	Webgets default color scheme is blue and gray with yellow hilights

*/

address, blockquote, body, caption, center, dd, dir, div, dl, dt, form,
h1, h2, h3, h4, h5, h6, menu, ol, p, td, th, ul
{
	font-size: 			12px;
	font-family: 		Trebuchet MS, sans-serif;
}

body
{
	background: 		white;
	font-family: 		Trebuchet, sans-serif;
	color: 				black;
	margin: 			20px 20px 20px 20px;
}

p
{
	margin:				2px 2px 2px 2px;
	font-size:			12px;
	line-height:		16px;
}

ul
{
	margin-top:			0px;
	margin-bottom:		0px;
}

ol
{
	margin-top:			0px;
	margin-bottom:		0px;
}

h1
{
	font-size:			24px;
	font-weight:		bold;
	margin-bottom:		10px;
}

h2
{
	font-size:			20px;
	font-weight:		bold; 
	margin-bottom:		10px;
}

h3
{
	font-size:			16px
	font-weight:		bold; 
	margin-bottom:		10px;
}

h4
{
	font-weight:		bold;			
	margin-bottom:		10px;
}
	
li							
{
	margin-left:		10px;
}

a:link
{
	color:				#000066;
	font-weight: 		bold;
}

a:visited
{
	color:				#000033;
	font-weight: 		bold;
}

/* webgets backgroud colors */

/* reds */

.webgets-red
{
	background:			#ffaaaa;
}

.webgets-medium-red
{
	background:			#ffcccc;
}

.webgets-light-red
{
	background:			#ffeeee;
}

/* greens */

.webgets-green
{
	background:			#aaffaa;
}

.webgets-medium-green
{
	background:			#ccffcc;
}

.webgets-light-green
{
	background:			#eeffee;
}

/* blues */

.webgets-blue
{
	background:			#aaaaff;
}

.webgets-medium-blue
{
	background:			#ccccff;
}

.webgets-light-blue
{
	background:			#eeeeff;
}	

/* greys */

.webgets-grey
{
	background:			#aaaaaa;
}

.webgets-meduium-grey
{
	background:			#cccccc;
}

.webgets-light-grey
{
	background:			#eeeeee;
}

/* active */

.webgets-hilight
{
	background:			#ffff99;
}

.webgets-selected
{
	color:				#ffffff;
	background:			#aaaaff;
	font-weight:		bold;
}

.webgets-disabled
{
	color:				#aaaaaa;
	background:			#eeeeee;
}
